<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Documentation</title>
  <link rel="stylesheet" href="assets/css/lego-core.css">
  <link rel="stylesheet" href="assets/css/docs.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600' rel='stylesheet' type='text/css'>

  <script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="assets/js/lib/highlight.min.js" type="text/javascript"></script>

  <script src="assets/js/local/docs.js"></script>
</head>
<body>

<div id="wrap">
  <!-- toc -->
  <div id="content">
    <div class="entry">
      <h2>Introduction</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nulla explicabo illo doloremque dolorum quisquam, voluptates expedita. Modi praesentium nam corporis ab autem quis hic fugiat, facere harum, doloribus laborum.</p>
    </div>
    <%= contents %>
  </div>
</div>


</body>
</html>